@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1c39ba;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  /* Add default base styles for specific HTML elements */
  h1 {
    @apply text-3xl sm:text-4xl font-extrabold my-3;
  }

  h2 {
    @apply text-2xl sm:text-3xl font-semibold my-2;
  }

  h3 {
    @apply text-xl sm:text-2xl font-bold my-1;
  }

  label {
    @apply block mb-2 text-sm font-medium text-gray-900 pl-2;
  }

  input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  focus:border-blue-500 block w-full p-2.5;
  }
}

@layer components {
  /* A button base shape. */
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700;
  }

  .btn-cancel {
    @apply py-2 px-4 bg-rose-500 text-white font-semibold rounded-lg shadow-md hover:bg-rose-700;
  }

  .btn-secondary {
    @apply py-2 px-4 bg-slate-50 text-gray-900 border-2 border-gray-900 font-semibold rounded-lg shadow-md hover:bg-slate-200;
  }
  .invalid-feedback {
    @apply text-red-500;
  }
}
